<!DOCTYPE html>
<ion-view title="Add Your Path">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    <button class="button button-icon icon ion-checkmark" ng-click="addPath()"></button>
  </ion-nav-buttons>
  <ion-header-bar class="bar-positive" align-title="left">
    <div class="buttons pull-left">

    </div>
    <h1 class="title">Trail View!!!</h1>
    <div class="buttons pull-right">

    </div>
  </ion-header-bar>
  <ion-content scroll="false">
    <img src="http://maps.googleapis.com/maps/api/staticmap?center=' + mapCenter.lat() + ',' + mapCenter.lng() + '&maptype=' + map.getMapTypeId() + '&zoom=' + map.getZoom() + '&size=400x400&sensor=false">
  </ion-content>
</ion-view>
