node_modules/
notes/
bower_components/
*.log
*.xcf
.env
.eslintrc.js
sampleDirective.js
sampleView.js

www/lib
.env
build/
dist/
DS_STORE
.eslintrc.js
*.keystore
*.sw*
platforms
plugins
out
.idea
app/components
.DS_Store
.io-config.json
notes.js
