<!DOCTYPE html>
<ion-view>
  <div id="loading" ng-style="loading"></div>

  <ion-nav-buttons side="left">
    <ion-header-bar class="bar bar-header bar-stable" align-title="center">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      <h1 class="title">Create Trail</h1>
    </ion-header-bar>
  </ion-nav-buttons>

  <ion-content scroll="false">
    <!-- TRAIL INFO -->
    <div class="abs card" ng-style="trail.style" on-swipe-left="cardSwipedLeft(0)">
      <!-- TRAIL NAME -->
      <label class="item item-input">
        <input type="text" class="center s-2x" ng-model="trail.name" placeholder="Name of trail">
      </label>
      <div class="card">

        <!-- TRAIL DESCRIPTION -->
        <label class="list item item-input">
          <textarea type="text" ng-model="trail.description" placeholder="Tells us about your trail"></textarea>
        </label>

        <!-- TRAIL TYPE -->
        <div class="row list center">
          <div class="col col-30">
            Type:
          </div>
          <div class="col dark center">
            <i class="ion-arrow-left-b s-2x" ng-click="changeStep(false)"></i>
          </div>
          <div class="col dark center">
            <span>{{ trailTypes[step] }}</span>
          </div>
          <div class="col dark center">
            <i class="ion-arrow-right-b s-2x" ng-click="changeStep(true)"></i>
          </div>
        </div>

        <!-- TRAIL DIFFICULTY -->
        <div class="list row center">
          <div class="col col-30">
            Difficulty:
          </div>
          <div class="col royal s-2x">
            <i class="ion-ribbon-b"></i>
            <i class="ion-ribbon-b"></i>
            <i class="ion-ribbon-b"></i>
          </div>
        </div>

        <!-- TRAIL TRANSPORT AND MONEY -->
        <div class="row calm s-2x center" ng-click="test(trail.requires_money)">

          <!-- TRANSPORT -->
          <i ng-repeat="(name, type) in transport" class="ion-android-{{ type }} col" ng-value="name" ng-model="trail.transport" ng-click="trail.transport = type"></i>

          <!-- MONEY -->
          <i class="ion-cash col dark" ng-style="moneyStyle" ng-click="money(trail.requires_money)"></i>
        </div>

        <button class="button button-block" ng-click="add()" ng-if="!crumbs.length">
          Create trail!
        </button>
        <button class="button button-block" ng-click="move(-100)"
        ng-if="crumbs.length">
          Next crumb
        </button>
      </div>
    </div>

    <!-- crumbS -->
    <div class="abs card card-{{$index}}" ng-repeat="crumb in crumbs track by $index" on-swipe-left="cardSwipedLeft($index + 1)" on-swipe-right="cardSwipedRight($index + 1)" on-partial-swipe="cardPartialSwipe(amt)" ng-style="crumb.style">
      <div class="row item item-divider center">
        <h1 class="title col">
          <input class="clearInput" type="text" ng-model="crumb.name" placeholder="crumb {{ $index + 1 }}">
        </h1>
        <div class="col col-10">
          <i class="assertive icon ion-trash-b s-1x" ng-click="remove($index)"></i>
        </div>
      </div>
      <div class="card">
        <label class="item item-input textbox">
          <input type="text" ng-model="crumb.description" placeholder="Description">
        </label>

        <div class="item item-input textbox">
          <input class="col" type="text" ng-model="crumb.location" placeholder="Location">
          <div class="col col-10" ng-click="test()">
            <i class="positive icon ion-navigate s-1x"></i>
          </div>
        </div>

        <div class="item item-divider center" ng-click="test('hey')">
          <h1>MEDIA UPLOAD</h1>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button class="button button-block" ng-click="move(100)">
            Prev crumb
          </button>
        </div>
        <div class="col">
          <button class="button button-block" ng-click="move(-100)"
          ng-if="crumbs.length > $index + 1">
            Next crumb
          </button>
          <button class="button button-block button-energized" ng-click="add()" ng-if="crumbs.length === $index + 1">
            Add crumb!
          </button>
        </div>
      </div>
    </div>

    <div class="abs card review" ng-style="review.style">
      <div class="item item-divider center">
        Review crumbs for <strong>{{ trail.name }}</strong>
      </div>
      <div class="center reviewMap">
        <img src="{{ trail.map }}" />
      </div>
      <div class="row center">
        <div class="col">Total time: <br><strong>{{ trail.time }}</strong></div>
        <div class="col">Total distance: <br><strong>{{ trail.length }}</strong></div>
      </div>
      <div ng-style="overflowStyle">
        <div ng-repeat="crumb in crumbs track by $index" class="row">
          <div class="col col-10">{{ $index + 1 }}</div>
          <div class="col">{{ crumb.location }}</div>
        </div>
      </div>
    </div>
  </ion-content>

  <div class="bar bar-footer bar-royal" ng-click="reviewMap()" ng-if="crumbs.length > 1 && !review.check">
    <div class="title">Review and submit</div>
  </div>

  <div class="tabs tabs-icon-top" ng-if="review.check">
    <a class="tab-item" ng-click="reset()">
      <i class="icon ion-compose"></i>
      Edit
    </a>
    <a class="tab-item" ng-click="submit()">
      <i class="icon ion-checkmark-round"></i>
      Submit
    </a>
  </div>
</ion-view>
