<!DOCTYPE html>
<ion-view >
  <div class="loading" ng-style="loading"></div>
  <div ng-style="mapShow" ng-click="mapToggle()">
    <div class="black t-center"></div>
    <img class="info" ng-src="{{ mapSrc }}" alt="">
  </div>


  <ion-nav-buttons side="left">
    <ion-header-bar class="bar bar-header maroon-t egg-b" align-title="center">
      <button menu-toggle="left" class="button button-icon icon ion-navicon maroon-t"></button>
      <h1 class="title maroon-t">Breadcrumb</h1>
      <button class="right button button-icon icon icon-right ion-refresh maroon-t" ng-click="refresh()"></button>
    </ion-header-bar>
  </ion-nav-buttons>

  <ion-content class="egg-b">

    <div ng-repeat="trail in trails track by $index" ng-style="trail.style" class="mint-b">

      <div class="row item item-divider" ng-click="toggle($index)">
        <i class="ion-cash balanced margin-h s-1x left" ng-if="trail.requires_money"></i>
        <div class="col center s-1x">{{ trail.name }}</div>
        <i class="ion-backspace assertive margin-h s-1x right" ng-click="delete(trail, $index)"></i>
      </div>

      <div class="light-b padding-v">

        <div class="row item center">

          <!-- TRANSPORT -->
          <div class="col col-10 right sea-t s-1x" ng-click="filter('transport', trail.transport)">
            <i class="ion-android-walk" ng-if="trail.transport === 'WALKING'"></i>
            <i class="ion-android-bicycle" ng-if="trail.transport === 'BICYCLING'"></i>
            <i class="ion-android-car" ng-if="trail.transport === 'DRIVING'"></i>
            <i class="ion-android-bus" ng-if="trail.transport === 'TRANSIT'"></i>
          </div>

          <!-- LENGTH -->
          <div class="col left" ng-click="filter('length')">
            {{ trail.length }}
          </div>

          <!-- DIFFICULTY -->
          <div class="col col-33 center" ng-click="filter('difficulty')">
            <i class="ion-ribbon-b maroon-t s-1x" ng-repeat="hard in trail.difficulty"></i>
          </div>

          <!-- RATING -->
          <div class="col col-33 right" ng-click="filter('rating')">
            <i class="ion-ios-star rust-t s-1x" ng-repeat="star in trail.rating"></i><i class="ion-ios-star-outline rust-t s-1x" ng-repeat="star in trail.emptyStars"></i>
          </div>
        </div>

        <div class="card egg-b">
          <div class="row">
            <!-- MAP -->
            <div class="col center reviewMap">
              <img ng-src="{{ trail.map }}" height="160px" width="160px" ng-click="mapToggle(trail.map)" />
            </div>

            <!-- DESCRIPTION -->
            <div class="col item-text-wrap scrollText" ng-style="overflowStyle" height="160px">
              <p>{{ trail.description }}</p>
              <p>Created by </p>
            </div>
          </div>

          <!-- GO BUTTON -->
          <div class="row">
            <button class="col button button-block" ng-click="pickTrail(trail.id, $index)" ui-sref="app.trail">
              <span ng-if="!trail.progress">Start!</span>
              <span ng-if="trail.progress">
                <span ng-if="100 - trail.progress < 20">Only</span>
                {{ 100 - trail.progress }}% remaining! Let's go!
              </span>
            </button>
          </div>
        </div>

      </div>

    </div>
  </ion-content>

  <div class="bar bar-footer bar-balanced" ng-click="reset()" ng-if="specificTransport">
    <div class="title">View all transport types</div>
  </div>
</ion-view>
