<!DOCTYPE html>
<ion-view >

  <ion-nav-buttons side="left">


  <ion-header-bar class="bar bar-header bar-stable" align-title="center">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    <h1 class="title">Breadcrumb</h1>
  </ion-header-bar>
  </ion-nav-buttons>

  <ion-content>

    <div class="trailItem" ng-repeat="trail in trails track by $index" ng-style="trail.style">
    <!-- <div class="card" ng-repeat="trail in trails track by $index"> -->
      <div class="row item item-divider" ng-click="toggle($index)">
        <div class="col">{{ trail.name }}</div>
        <!-- <div class="col"></div> -->
        <div class="col right">
          {{ trail.length }} Miles -
          <i class="ion-android-walk" ng-if="trail.transport === 1"></i>
          <i class="ion-android-bicycle" ng-if="trail.transport === 2"></i>
          <i class="ion-android-car" ng-if="trail.transport === 3"></i>
          <i class="ion-android-bus" ng-if="trail.transport === 4"></i>
        </div>
      </div>

      <!-- <div class="card"> -->
        <div class="row item">
          <div class="col">
            <i class="ion-ios-star" ng-repeat="star in trail.stars"></i><i class="ion-ios-star-outline" ng-repeat="star in trail.nostars"></i>
          </div>
          <div class="col center"><i class="ion-ribbon-b" ng-repeat="hard in trail.difficulty"></i></div>
          <div class="col right" ng-if="trail.progress">{{ trail.progress }} Complete</div>
        </div>
      <!-- </div> -->
      <div class="card">
        <div class="logo"></div>
        <div class="row">
          <button class="col button button-block" ng-if="!trail.progress">GO!</button>
          <button class="col button button-block" ng-if="trail.progress">Continue!</button>
        </div>

      </div>

  </div>



  </ion-content>

</ion-view>
