<!DOCTYPE html>
<ion-side-menus>

  <ion-pane ion-side-menu-content drag-content="false">
    <ion-nav-bar class="bar">
      <!-- <ion-nav-back-button class="button-clear"><i class="icon ion-chevron-left"></i> Back</ion-nav-back-button> -->
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left" width="200" class="eggshell-b">
    <header class="bar bar-header" menu-toggle="left">
      <h1 class="title">{{ user }}</h1>
    </header>
    <ion-content class="has-header eggshell-b">
      <ion-list>
        <ion-item
          ng-repeat="link in links"
          nav-clear
          menu-close
          class="mint-t mint-l"
          ui-sref="{{ link.link }}"
        >
          <i class="{{ link.icon }} margin-h"></i> {{ link.name }}
        </ion-item>
        <ion-item nav-clear menu-close class="mint-t mint-l" ng-click="logout()">
          <i class="ion-log-out margin-h"></i>
          Log out
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
