<!DOCTYPE html>
<ion-view >
  <ion-header-bar class="bar bar-header bar-stable" align-title="center">
    <h1 class="title">Add Info</h1>
  </ion-header-bar>
  <ion-content>
    <form>
      <div class="card">
        <div class="item item-divider">
          Change Username
        </div>
        <label class="item item-input">
          <input type="text" ng-model="username" placeholder="Enter Username" required>
        </label>
      </div>

      <div class="card">
        <div class="item item-divider">
          Change Email
        </div>
        <label class="item item-input">
          <input type="text" ng-model="email" placeholder="Enter Email">
        </label>
      </div>
      <button class="button button-full button-energized" ng-click="updateUser(username, email)">
        Submit
      </button>
    </form>
  </ion-content>
</ion-view>
