<!DOCTYPE html>
<ion-view >
  <ion-nav-bar>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <div class="card">

      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="Username">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Password">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Password">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Email">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Profile picture">
        </label>
      </div>
    </div>
    <button class="button button-full button-energized">
      Sign up
    </button>
  </ion-content>
</ion-view>
