<!DOCTYPE html>
<ion-view >

  <ion-content scroll="false" class="sea-b" ng-style="theme.style">
    <div class="float float37" style="position: relative; z-index: 99;">
      <div class="logo shadow"></div>
      <h1 class="center ">Breadcrumb</h1>
    </div>

    <div class="children center-h shadow">
      <img class="child" src="{{ child1 }}" alt="">
      <img class="child" src="{{ child2 }}" alt="">
    </div>
    <img class="stars" src="../img/clouds.gif" alt="">
    <div class="full">
      <img class="rotate shadow" ng-src="{{ theme.background }}" alt="">
    </div>


    <a class="low-button row center-h" ui-sref="auth0">
      Log in
    </a>

  </ion-content>
</ion-view>
