.menu .scroll-content {
  background-color: #3a7ec7;
  background-image: url('../img/swirl.gif');
  background-position: bottom;
  background-repeat: no-repeat;
}

.menu-item {
  color: #e2c7a2;
  font-size: 1.5em;
}

.menu-item i {
  padding: 5px 10px;
  color: #3a7ec7;
  background: #f1dfcf;
  border-radius: 50%;
}

.bar, .item, .item-content, .item-complex,
.item-complex .item-content {
  background: none;
  border: none;
}

.item-complex .item-content {
  padding: 15px 10px 15px 10px;
}

.bar {
  background-color: #573d38;
  box-shadow: 0 0 5px #fbf0ed;
}

.bar .title, .bar .button {
  color: #e2c7a2;
}

.card {
  margin-top: 10px;
  background-color: #fbf0ed;
}

.item-divider {
  padding-top: 15px;
  background-color: #f1dfcf;
  box-shadow: 0 0 5px 0 #573d38;
}

.row {
  width: auto;
}

.row+.row {
  margin: 0;
  padding-top: 10px;
  padding: 5px;
  border: none;
}

.button.button-block,
.button.button-full {
  margin: 0;
  background-color: #fab1a0;
}

.bar-footer {
  height: 60px;
  /*background-color: #3a7ec7;*/
  color: #e2c7a2;
  text-align: center;
  text-shadow: 0 1px 5px #222222;
  font-size: 2em;
  font-weight: bold;
  background: #3a7ec7;
  background: -webkit-linear-gradient(left top, #3a7ec7, #4d92db); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #3a7ec7, #4d92db); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #3a7ec7, #4d92db); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #3a7ec7, #4d92db); /* Standard syntax */
}

.footer {
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 100%;
  color: #e2c7a2;
  text-align: center;
  text-shadow: 0 1px 5px #222222;
  font-size: 2em;
  font-weight: bold;
}
