/* Empty. Add your own CSS if you like */

@keyframes moveUp {
    0%   {transform: translate(0px, 0px)}
    100% {transform: translate(0px, -820px)}
}

@keyframes moveDown {
    0%   {transform: translate(0px, -820px)}
    100% {transform: translate(0px, 0px)}
}

@keyframes moveInFromRight {
    0%   {transform: translate(100%, 0px)}
    100% {transform: translate(0%, 0px)}
}

.loading {
  background-color: #000;
  background-image: url('../img/loading.gif');
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  position: absolute;
  z-index: 99;
}

.clearInput {
  width: 100%;
  text-align: center;
  background: transparent;
  height: 150%;
}

.platform-android .action-sheet-cancel {
  display: block;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
}

.right {
  text-align: right;
}

.logo {
  /*background-color: grey;*/
  text-align: center;
  width: 100%;
  height: 200px;
  margin: auto;
}

.profilePic {
  background-color: grey;
  width: 150px;
  height: 150px;
  margin: auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  border-radius: 75px;
  background-image: url('temp.png');
}

.noOverflow {
  height: 500px;
  overflow: hidden;
}

.abs {
  position: absolute;
  left: 2.5%;
  width: 90%;
  margin: auto;
  animation-duration: 250ms;
  animation-fill-mode: forwards;
}

.createCard {
  height: 600px;
}

.review {
  position: absolute;
  top: 835px;
  animation-duration: 1000ms;
}

.textbox {
  height: 65px;
}

.w-75 {
  width: 70%;
  margin: auto;
}

.s-1x {
  font-size: 1.5em;
}

.s-1-5x {
  font-size: 1.5em;
}

.s-2x {
  font-size: 2em;
}

.row+.row {
  padding: 10px !important;
}
