/* Empty. Add your own CSS if you like */

@keyframes moveUp {
    0%   {transform: translate(0px, 0px)}
    100% {transform: translate(0px, -820px)}
}

@keyframes moveDown {
    0%   {transform: translate(0px, -820px)}
    100% {transform: translate(0px, 0px)}
}

@keyframes moveInFromRight {
    0%   {transform: translate(100%, 0px)}
    100% {transform: translate(0%, 0px)}
}

@keyframes float {
    0%   {transform: translate(0px, 0px)}
    50%   {transform: translate(0px, 30px)}
    100% {transform: translate(0px, 0px)}
}

.round {
  border-radius: 50%;
}

.float-container {
  margin: 25px 0 50px;
}

.float {
  animation-name: float;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.float22 {
  animation-duration: 2200ms;
}

.float27 {
  animation-duration: 2700ms;
}

.float32 {
  animation-duration: 3200ms;
}

.float37 {
  animation-duration: 3700ms;
}

.float42 {
  animation-name: float;
  animation-duration: 4200ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.logo {
  background-image: url('../img/temp.png');
  background-position: center;
  background-size: cover;
  text-align: center;
  height: 200px;
  width: 200px;
  border-radius: 100px;
  margin: 25px auto;
}

.loading {
  background-color: #000;
  background-image: url('../img/loading.gif');
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  position: absolute;
  z-index: 99;
}

.clearInput {
  width: 100%;
  text-align: center;
  background: transparent;
  height: 150%;
}

.platform-android .action-sheet-cancel {
  display: block;
}

.left {
  text-align: left;
}

.t-center {
  text-align: center;
}

.margin-top {
  margin-top: 50px;
}

.center {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
}

.right {
  text-align: right;
}

.profilePic {
  background-color: grey;
  width: 150px;
  height: 150px;
  margin: auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  border-radius: 75px;
}

.noOverflow {
  height: 500px;
  overflow: hidden;
}

.abs {
  position: absolute;
  left: 2.5%;
  width: 90%;
  margin: auto;
  animation-duration: 250ms;
  animation-fill-mode: forwards;
}

.createCard {
  height: 600px;
}

.review {
  position: absolute;
  top: 835px;
  animation-duration: 1000ms;
}

.textbox {
  height: 65px;
}

.w-75 {
  width: 70%;
  margin: auto;
}

.s-1x {
  font-size: 1.5em;
}

.s-1-5x {
  font-size: 1.5em;
}

.s-2x {
  font-size: 2em;
}

.bubbles {
  position: absolute;
  width: 95%;
  transition-duration: 1000ms;
  margin: 10px 0 35px;
}

.bubble {
  font-size: 2em;
  color: white;
  background: black;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin: 0 5px;
  position: relative;
}

.row+.row {
  padding: 10px !important;
}

.margin-h {
  margin: 0 10px;
}

.margin-v {
  margin: 10px 0;
}

.margin-n {
  margin: 0;
}

.center-v {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.full {
  width: 100%;
}

.transparent {
  background: transparent;
}
