/* Empty. Add your own CSS if you like */

.platform-android .action-sheet-cancel {
    display: block;
}

.title {
  background: #000;
}

#logo {
  background-color: red;
  text-align: center;
  width: 100px;
  height: 100px;
  margin: auto;
  border-radius: 50px;
}
