/* Empty. Add your own CSS if you like */

@keyframes moveUp {
    0%   {transform: translate(0px, 0px)}
    100% {transform: translate(0px, -750px)}
}

@keyframes moveDown {
    0%   {transform: translate(0px, -750px)}
    100% {transform: translate(0px, 0px)}
}

@keyframes moveInFromRight {
    0%   {transform: translate(100%, 0px)}
    100% {transform: translate(0%, 0px)}
}

.platform-android .action-sheet-cancel {
  display: block;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
  display: flex;
  align-items: center;

}

.right {
  text-align: right;
}

.logo {
  background-color: grey;
  text-align: center;
  width: 100%;
  height: 200px;
  margin: auto;
}

.noOverflow {
  height: 500px;
  overflow: hidden;
}

.abs {
  position: absolute;
  left: 2.5%;
  width: 90%;
  margin: auto;
  animation-duration: 250ms;
  animation-fill-mode: forwards;
}

.review {
  position: absolute;
  top: 850px;
  animation-duration: 1000ms;
}

.textbox {
  height: 65px;
}


.scrollText {
  height: 150px;
  text-align: justify;
  text-justify: inter-word;

}
